.home{
    background-color:  #c9ecb5; 
}
.gallery ul{
    width: 100%;
    padding: 10px 15px;
    margin: 70 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.street {
    color:#649549
}
.cheese {
    color: #FFD77C
}
.order {
 background-color: lawngreen;
 border-radius: 30px 30px 30px 30px;
 border:transparent;
 height: 6vh;
}
.Eat {
    color: #FFD77C;
}
.together{
    color: #FFD77C;
}


.Hot {
    color:black ;
}
.eateries {
    color: green;
}
.Hot Deals {
    background-color:green;
}
.junks {
    color: green
}
.Contact {
    color: black;
}
.calllog {
    color: chartreuse;
}
.send {
    background-color: chartreuse;
    border-radius: 35px 35px 35px 35px;
    height: 4vh;
    border: transparent;
}
.email {
    border-radius: 60px 60px 60px 60px;
}
.footer {
    background-color: #C9ECB5;
    display: flex;
    justify-content:left;
}
.Contact{
    background-color:#FFD77C;
}