.streetfood{
    background-color: grey; 
}
.gallery ul{
    width: 100%;
    padding: 10px 15px;
    margin: 70 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.street {
    color:#649549
}
h4{
    color: #FFD77C
}
.content {
    color: chartreuse;
}
.together{
    display: flex;
    float: right;
}
.exploremenu{
    background-color: gray;
    padding: 25px 50px 25px 50px;
    height: 420px;
}
.combo,.yummies{
    display: flex;
    justify-content: space-evenly;
    padding-right: 30pt;
    padding-left: 40pt;
    padding-top: 80pt;
    padding-bottom: 100pt;
}
.yummies {
    display: flex;
    justify-content:space-evenly;
}
.combo {
    display: flex;
    justify-content: space-evenly;
}

.order {
 background-color: lawngreen;
 border-radius: 30px 30px 30px 30px;
 border:transparent;
 height: 6vh;
}
.Hot {
    color:black ;
}
.eateries {
    color: green;
}
.hotdeals {
    background-color: #C9ECB5;
}
.junks {
    color: green
}
.Contact {
    color: black;
}
.calllog {
    color: chartreuse;
}
.send {
    background-color: chartreuse;
    border-radius: 35px 35px 35px 35px;
    height: 4vh;
    border: transparent;
}
.email {
    border-radius: 60px 60px 60px 60px;
}
.footer {
    background-color: #C9ECB5;
    display: flex;
    justify-content:left;
}
.number {
    display:flex;
    justify-content: center;
}
.handles {
    display:flex;
    justify-content: center;
}
.Contact{
    background-color:#FFD77C;
}