.streetfood{
    background-color: grey; 
}
.gallery ul{
    width: 100%;
    padding: 10px 15px;
    margin: 70 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.street {
    color:#649549
}
h4{
    color: #FFD77C
}
.content {
    color: chartreuse;
}
.together{
    display: flex;
    
}
.exploremenu{
    background-color: gray;
    padding: 25px 50px 25px 50px;
    height: 420px;
    text-align: center;
}
.combo,.yummies{
    display: flex;
    justify-content: space-evenly;
    padding-right: 30pt;
    padding-left: 40pt;
    padding-top: 80pt;
    padding-bottom: 100pt;
}
.yummies {
    display: flex;
    justify-content:space-evenly;
}
.combo {
    display: flex;
    justify-content: space-evenly;
}
.combo>div,.yummies>div{
    height: 200px;
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: inherit;
    background-color: white;
    margin-right: 15px;
    border-radius: 8px 8px 6px 0;
}
.order {
 background-color: lawngreen;
 border-radius: 30px 30px 30px 30px;
 border:transparent;
 height: 6vh;
}
.Hot {
    color:black ;
    font-size: 20px;
}
.eateries {
    color: green;
    font-size: 24px;
}
.hotdeals {
    background-color: #C9ECB5;
    height: 500px;
}
.hotdeals img{
    float:left;
    
    margin-left: 100px;
}
.special{
margin-top:80px ;
}
.combopack{
font-size: 40px;
    color: green;

}
.burgerpizz{
    font-size:36px ;
    margin-bottom: 0px;
    margin-top: 5px;

}
.align{
text-align: center;
margin-right: 600px;

}
.junks {
    color: green
}
.Contact {
    color: black;
    text-align: center;
}
.calllog {
    color: chartreuse;
}
.send {
    background-color: chartreuse;
    border-radius: 35px 35px 35px 35px;
    height: 4vh;
    border: transparent;
}
.email {
    border-radius: 60px 60px 60px 60px;
}
.footer {
    background-color: #C9ECB5;
    display: flex;
    justify-content:left;
}
.number {
    display:flex;
    justify-content: center;
}
.handles {
    display:flex;
    justify-content: center;
}
.Contact{
    background-color:#FFD77C;
}
.button{
    background-color: chartreuse;
    margin-left: 525px;
    margin-right: 300px;
    border-radius: 35px;
    color: white;
    text-align: center;
    padding: 15px;
    width: 70px;
    height: 35px;
}
.dine{
    display: flex;
    
}
.together p{
    text-align: center;
    margin-top: 150px;
}